/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* lora-500 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/lora-v26-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/lora-v26-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lora-v26-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/lora-v26-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lora-v26-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/lora-v26-latin-500.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lora-v26-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/lora-v26-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lora-v26-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/lora-v26-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lora-v26-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/lora-v26-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
}

:root {
  --header-text-color: #333333;
  --main-bg-color: #fff;
  --main-text-color: #030C0C;
  --main-button-color: #05A42C;
  --main-text-subtitle-color:#808080;
  --text-color: #fff;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Poppins';
  font-weight: 500;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
  text-decoration: none;
}

ul,ol,li{
  list-style: none;
  padding-left: 0;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* SITE HEADER STYLE START */
.hero-header-color{
  background-image: linear-gradient(90deg, #c9fdd600 0%, #C9FDD6 100%);
  background-image: url(../images/hero-section-bg.svg), linear-gradient(90deg, #c9fdd600 0%, #C9FDD6 100%);
  background-repeat: no-repeat;
  background-position: calc(50% + 620px) calc(50% - 200px), center center;
}

.site-header{
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-end {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 38px;
}

.barg{
  background-image: url(../images/barg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 5px) calc(50% - 5px);
}
.site-nav-item-link {
  font-size: 16px;
  line-height: 30px;
  color: var(--header-text-color);
}
.site-header-login-box {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.site-header-login {
  font-size: 16px;
  line-height: 30px;
  color: var(--main-button-color);
  margin-right: 3px;
  
}

.site-header-signup{
  font-size: 16px;
  line-height: 30px;
  display: flex;
  color: var(--main-text-subtitle-color);
}

/* ***** SITE HEADER RESPONSIVE START **** */
@media only screen and (max-width: 843px) {
  .site-nav-list {
    gap: 30px;
    margin-right: 28px;
  }
  
  .site-nav-item-link {
    font-size: 14px;
    line-height: 25px;
    color: var(--header-text-color);
  }
  
  .site-header-login-box {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .site-header-logo{
    width: 100px;
    height: 45px;
  }
}

@media only screen and (max-width: 741px) {
  .site-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
}

@media only screen and (max-width: 630px) {
  .site-header-end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .site-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 468px) {
  .site-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    margin-right: 0;
  }
}
/* ***** SITE HEADER RESPONSIVE END **** */
/* SITE HEADER STYLE END */

/* **** MAIN START **** */
/* ***** HERO SECTION STYLE START **** */
.hero-section{
  position: relative;
  padding-top: 103px;
  padding-bottom: 136px;
}

.hero-section-right {
  margin-left: auto;
  width: 582px;
}
.hero-section-right-title {
  width: 100%;
  max-width: 582px;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.hero-section-right-subtitle{
  width: 100%;
  max-width: 550px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #666666;
  margin-top: 0;
}
.hero-section-btn {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  background-color: var(--main-button-color);
  border-radius: 8px;
  padding: 22px 48px;
  border: none;
}
.hero-section-btn-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 40px;
}

.site-header-add {
  /* position: absolute; */
  display: inline-block;
  padding: 8px;
  background-color: var(--text-color);
  box-shadow: 0px 10px 20px #000000cc;
  border-radius: 50%;
}

.hero-section-car{
  position: absolute;
  padding: 24px 28px;
  top: 380px;
  left: 80px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(126, 247, 156, 0.35) 2.38%, rgba(255, 255, 255, 0.2275) 100%);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.hero-section-star-title{
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.hero-section-car-box{
  display: flex;
  align-items: center;
}

.hero-section-car-img{
  margin-right: 20px;
}

/* ***** HERO SECTION RESPONSIVE START **** */
@media only screen and (max-width: 768px){
  .hero-section{
    position: relative;
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .hero-section-wrapper{
    display: flex;
  }
  .hero-section-right-title {
    width: 100%;
    max-width: 282px;
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--main-text-color);
  }
  .bg{
    position: absolute;
    width: 511px;
    height: 822px;
    top: 0px;
    right: calc(50% + 100px);
  }
  
  .hero-section-right-subtitle{
    width: 100%;
    max-width: 450px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #666666;
    margin-top: 0;
  }
  .hero-section-right {
    margin-left: auto;
    width: 382px;
  }
  
  .hero-section-btn {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    background-color: var(--main-button-color);
    border-radius: 8px;
    padding: 15px 35px;
    border: none;
  }
  .hero-section-btn-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    margin-right: 20px;
  }
  
  .hero-section-arrow-right{
    width: 18px;
    height:  10px;
  }
  
  .hero-section-car{
    position: absolute;
    padding: 18px 20px;
    top: 380px;
    left: 80px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(126, 247, 156, 0.35) 2.38%, rgba(255, 255, 255, 0.2275) 100%);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .hero-section-star-title{
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    text-transform: capitalize;
    color: var(--main-text-color);
    margin-top: 0;
    margin-bottom: 4px;
  }
  
  .hero-section-car-box{
    display: flex;
    align-items: center;
  }
  
  .hero-section-car-img{
    margin-right: 10px;
    width: 40px;
    height: 30px;
  }
  .hero-section-star-img{
    width: 12px;
    height: 12px;
  }
  .hero-section-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px){
  .hero-section-car{
    position: inherit;
    padding: 18px 20px;
    top: 380px;
    left: 80px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(126, 247, 156, 0.35) 2.38%, rgba(255, 255, 255, 0.2275) 100%);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  .hero-section-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero-section-right-title {
    width: 100%;
    max-width: 182px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--main-text-color);
  }
  
  
  .hero-section-right-subtitle{
    width: 100%;
    max-width: 150px;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #666666;
    margin-top: 0;
  }
  .hero-section-right {
    margin-left: auto;
    width: 182px;
  }
  
  .hero-section-btn {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    background-color: var(--main-button-color);
    border-radius: 8px;
    padding: 10px 25px;
    border: none;
  }
  .hero-section-btn-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    margin-right: 10px;
  }
  
  .bg{
    position: initial;
    width: 111px;
    height: 222px;
    top: 0px;
    right: calc(50% + 100px);
  }
}
/* ***** HERO SECTION RESPONSIVE END **** */

/* ***** HERO SECTION STYLE END **** */

/* **** PRODUCT SECTION STYLE START *** */
.product-section{
  padding-top: 31px;
  padding-bottom: 130px;
}

.bg{
  position: absolute;
  top: 0px;
  right: calc(50% + 100px);
}

.product-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-section-list {
  display: flex;
  width: 776px;
  /* align-items: center; */
  gap: 16px;
  margin-left: auto;
  margin-right: 48px;
}
.product-section-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 248px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 23px;
  background: linear-gradient(0deg, #91C89E 0%, rgba(219, 249, 226, 0) 100%);
  border-radius: 10px;
}
.product-section-item::before{
  position: absolute;
  content: "$54";
  display: block;
  width: 64px;
  height: 28px;
  background-color: #ffffffe6;
  border-radius: 50px;  
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-button-color);
  bottom: 90px;
  right: 50px;
}
.porduct-section-item-img {
  margin-bottom: 12px;
}

.product-section-title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: var(--header-text-color);
  margin: 0;
}

.product-section-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.product-section-btn {
  padding: 14px 15px;
  border: 1px solid var(--main-button-color);
  border-radius: 50%;
  background-color: var(--main-bg-color);
  color: var(--main-button-color);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.product-section-btn:hover{
  background-color: var(--main-button-color);
  color: var(--text-color);
}
.product-section-btn:active{
  background-color: var(--main-button-color);
  color: var(--text-color);
}

/* *** PRODUCT SECTION RESPONSIVE START *** */
@media only screen and (max-width: 768px) {
  .product-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 0px;
    gap: 16px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .product-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
/* *** PRODUCT SECTION RESPONSIVE END *** */
/* **** PRODUCT SECTION STYLE END *** */


/* *** OUR BENEFITS START*** */
.our-benefits-section {
  padding-bottom: 102px;
  background: #F1FEF4;
}

.Our-Benefits-title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 59px;
  
}
.our-benefits-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-benefits-itme {
  width: 100%;
  max-width: 291px;
}

.our-benefits-itme::before{
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.our-benefits-itme:first-child::before{
  width: 37px;
  height: 51px;
  background-image: url(../images/medal.svg);
}

.our-benefits-itme:nth-child(2)::before{
  width: 50px;
  height: 43px;
  background-image: url(../images/free.svg);
}

.our-benefits-itme:last-child::before{
  width: 50px;
  height: 50px;
  background-image: url(../images/best.svg);
}
.our-benefits-item-title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: var(--header-text-color);
  margin-top: 0;
  margin-bottom: 14px;
}

.our-benefits-item-subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #808080;
}

/* **** OUR BENEFITS RESPONSIVE START **** */
@media only screen and (max-width: 768px) {
  .Our-Benefits-title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-text-color);
    margin-top: 0;
    margin-bottom: 59px;
    
  }
  .our-benefits-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .our-benefits-section {
    padding-bottom: 92px;
  }
}
/* **** OUR BENEFITS RESPONSIVE END **** */
/* *** OUR BENEFITS END*** */

/* ****** PLANTATION SECTION STYLE START ***** */

.plantation-section {
  padding-top: 102px;
  padding-bottom: 120px;
  background-color: #FBFBFB;
}

.plantation-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plantation-section-start-img {
  width: 459px;
  height: 442px;
  background-image: url(../images/plantaion-bg.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.plantation-section-end-title {
  width: 100%;
  max-width: 290px;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-transform: capitalize;
  color: var(--main-text-color);
  
}
.plantation-section-end-subtitle {
  width: 100%;
  max-width: 611px;
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #808080;
}
.plantation-section-end-btn {
  padding: 20px 37px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--text-color);
  background: #05A42C;
  border-radius: 8px;
}

/* ******* PLANTATION SECTION STYLE RESPONSIVE START ******* */
@media only screen and (max-width: 768px) {
  .plantation-section {
    padding-top: 90px;
    padding-bottom: 110px;
    background-color: #FBFBFB;
  }
  
  .plantation-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .plantation-section-start-img {
    width: 400px;
    height: 400px;
    background-image: url(../images/plantaion-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .plantation-section-end-title {
    width: 100%;
    max-width: 290px;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 56px;
    text-transform: capitalize;
    color: var(--main-text-color);
    
  }
  
  .plantation-section-end-subtitle {
    width: 100%;
    max-width: 611px;
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #808080;
  }
  .plantation-section-end-btn {
    padding: 18px 35px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: var(--text-color);
    background: #05A42C;
    border-radius: 8px;
  }
  
}

@media only screen and (max-width: 550px) {
  .plantation-section {
    padding-top: 90px;
    padding-bottom: 110px;
    background-color: #FBFBFB;
  }
  
  .plantation-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .plantation-section-start-img {
    width: 350px;
    height: 350px;
    background-image: url(../images/plantaion-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .plantation-section-end-title {
    width: 100%;
    max-width: 290px;
    margin-top: 0;
    margin-bottom: 18px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--main-text-color);
    
  }
  
  .plantation-section-end-subtitle {
    width: 100%;
    max-width: 611px;
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #808080;
  }
  .plantation-section-end-btn {
    padding: 16px 33px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: var(--text-color);
    background: #05A42C;
    border-radius: 8px;
  }
  
}

@media only screen and (max-width: 500px) {
  .plantation-section {
    padding-top: 90px;
    padding-bottom: 110px;
    background-color: #FBFBFB;
  }
  
  .plantation-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .plantation-section-start-img {
    width: 350px;
    height: 350px;
    background-image: url(../images/plantaion-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .plantation-section-end-title {
    width: 100%;
    max-width: 290px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
    color: var(--main-text-color);
    
  }
  
  .plantation-section-end-subtitle {
    width: 100%;
    max-width: 611px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #808080;
  }
  .plantation-section-end-btn {
    padding: 14px 30px;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: var(--text-color);
    background: #05A42C;
    border-radius: 8px;
  }
}
/* ******* PLANTATION SECTION STYLE RESPONSIVE END ******* */

/* ****** PLANTATION SECTION STYLE END ***** */

/* ****** SELLING TREES SECTION START ****** */
.selling-trees-section {
  padding-top: 100px;
  padding-bottom: 104px;
  background-color: #F1FEF4;
}

.selling-trees-section-title-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 421px;
}

.selling-trees-section-title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}
.selling-trees-section-subtitle {
  width: 100%;
  max-width: 663px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #666666;
}
.selling-trees-section-list {
  display: flex;
  align-items: center;
  gap: 34px;
  /* padding-top: 451px; */
}
.selling-terrs-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 28px;
  padding-left: 28px;
  /* padding-bottom: 34px; */
  background-color: var(--text-color);
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.selling-terrs-item:hover{
  background-color: var(--main-button-color);
}

.selling-terrs-item:hover .selling-trees-item-title{
  color: #fff;
}

.selling-terrs-item:hover .selling-trees-item-subtitle{
  color: #C9FDD6;
}

.selling-terrs-item:hover .selling-trees-img-box{
  color: var(--text-color);
}

.selling-terrs-item:hover .selling-trees-item-price{
  color: var(--text-color);
}

.selling-terrs-item:hover .selling-trees-item-bottom-link{
  background: #046D1E;
  border-radius: 5px;
  color: #fff;
}

.selling-terrs-item:hover .selling-trees-item-bottom-title{
  color: #fff;
}

.selling-terrs-item:hover selling-trees-item-bottom-arrow{
  color: var(--text-color);
}

.selling-trees-img-box {
  display: flex;
  margin-bottom: 41px;
  color: var(--main-button-color);
}
.selling-trees-flower-img {
  position: absolute;
  top: -350px;
  right: 30%;
  margin: 0 auto;
  
}
.selling-section-item-star-box {
  margin-left: 150px;
}
.selling-trees-item-title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: var(--header-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
.selling-trees-item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #808080;
  margin-top: 0;
  margin-bottom: 36px;
}
.selling-trees-item-bottom {
  display: flex;
  align-items: center;
  gap: 60px;
}
.selling-trees-item-price {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 22px;
  text-transform: capitalize;
  color: var(--main-button-color);
}
.selling-trees-item-bottom-link {
  display: flex;
  align-items: center;
  padding: 8px 25px;
}
.selling-trees-item-bottom-title {
  margin: 0;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;  
  color: var(--main-text-color);
  margin-right: 8px;
}
.selling-trees-item-botton-img {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 22px;
  text-transform: capitalize;
  color: #05A42C;
}
/* ****** SELLING TREES SECTION END ****** */
/* ******* SELLING TREES SECTION RESPONSIVE START ******* */
@media only screen and (max-width:1029px) {
  .selling-trees-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 400px;
    /* padding-top: 451px; */
  }
}

@media only screen and (max-width:500px) {
  .selling-trees-section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F1FEF4;
  }
  
  .selling-trees-section-title-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 421px;
  }
  
  .selling-trees-section-title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-text-color);
    margin-top: 0;
    margin-bottom: 16px;
  }
  .selling-trees-section-subtitle {
    width: 100%;
    max-width: 463px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #666666;
  }
}
/* ******* SELLING TREES SECTION RESPONSIVE END ******* */

/* ***** OUR-SECRVICES-SECTION-START ****** */
.our-services-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FBFBFB;
}

.our-services-section-title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.our-services-section-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text-color);
}
.our-services-section-subtitle {
  width: 100%;
  max-width: 663px;
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #666666;
}

.our-services-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-secvices-section-item {
  width: 100%;
  max-width: 353px;
  margin-bottom: 48px;
}

.our-secvices-section-item:last-child{
  margin-bottom: 0;
}
.our-services-section-item-title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  text-transform: capitalize;
  color: var(--header-text-color);
  margin-top: 0;
  margin-bottom: 14px;
  
}
.our-services-section-item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #808080;
  margin: 0;
  width: 100%;
  max-width: 353px;
}
.our-services-section-img {
  margin-right: 23px;
}

/* ****** OUR-SECRVICES-SECTION-RESPONSIVE-START ****** */
@media only screen and (max-width: 768px) {
  .our-services-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .our-services-section-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-text-color);
  }
  .our-services-section-subtitle {
    width: 100%;
    max-width: 663px;
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #666666;
  }

  .our-services-section-item-title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    text-transform: capitalize;
    color: var(--header-text-color);
    margin-top: 0;
    margin-bottom: 14px;
    
  }
  .our-services-section-item-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #808080;
    margin: 0;
    width: 100%;
    max-width: 353px;
  }

  .our-secvices-section-item {
    width: 100%;
    max-width: 353px;
    margin-bottom: 35px;
  }
}
/* ****** OUR-SECRVICES-SECTION-RESPONSIVE-END ****** */
/* ***** OUR-SECRVICES-SECTION-END ****** */
/* **** MAIN END **** */